.App {
  text-align: center;
}

.iconButton {
  transition: all 0.3s !important;
}
.iconButton:hover {
  background-color: #c5c5c5 !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

.todoCard {
  transition: all 0.3s !important;
}

.todoCard:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

/* =====CUSTOM FONTS ====== */

@font-face {
  font-family: Cairo;
  src: url("../public/fonts/Cairo-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Cairo;
  src: url("../public/fonts/Cairo-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Cairo;
  src: url("../public/fonts/Cairo-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Cairo;
  src: url("../public/fonts/Cairo-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Cairo;
  src: url("../public/fonts/Cairo-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: main_font;
  src: url("../public/fonts/Cairo-ExtraLight.ttf");
  font-weight: 200;
}
/* =====END CUSTOM FONTS ====== */
